html{
    font-family: helvetica;
    background-color: #f8f7f7;
}

.wrap {
    white-space: pre-wrap; 
}

.formButton {
    width: 50%;
}

.postPreview {
  width: 550px;
  height: 325px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e8e8e8;
  padding: 10px;
  margin: 0 auto 30px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.links{
    text-decoration: none;
    color: white;
    margin: 6px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.links:hover{
    color: rgb(236, 236, 236);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.postTitle {
    position: absolute;
    top: 284px; 
    left: 10px; 
    width: 100%; 
}

.postDate {
    position: absolute;
    top: 0px; 
    left: 10px; 
    width: 100%; 
}

h3 span {
    color: white; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

h6 span {
    color: white; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    position: absolute;
    top: 0;
    left: 0;
}

#name{
    margin: 10px 0 0 0;
    color: #4a4a4a;
}

#bio{
    margin: 7px 0 10px 0;
    color: #757575;

}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#posts {
    display: block;
    white-space: pre-line;
    margin-top: 78.5px;
}

#newPost{
    display: block;
    white-space: pre-line;
    margin-top: 86.5px;
    margin: 78.5px 20px 20px 20px;
}

#postView {
    display: block;
    white-space: pre-line;
    margin: 78.5px 25% 150px 25%;
}

.sidebar {
    float: left;
    position: fixed;
    width: 200px;
}

#app {
    padding: 20px;
    display: block;
}

#subscribe {
  width: 200px;
  height: 30px;
  border-radius: 1px;
  background-color: #4a90e2;
  color: white;
}

#email {
  width: 196px;
  height: 30px;
  border-radius: 1px;
  border: solid 1px #d5d5d5;
  margin-bottom: 5px;
}

.noPadding {
    padding: 0;
    margin: 0;
    line-height: 25px;
}
.noPaddingg {
    padding: 0;
    margin: 0;
    line-height: 35px;
}

h1 {
    margin: 0;
}

#edit{
    float: left;
    width: 38%;
}

#preview{
    float: right;
    width: 60%;
}