html{
    font-family: helvetica;
    background-color: #f8f7f7;
}

.wrap {
    white-space: pre-wrap; 
}

.formButton {
    width: 50%;
}

.postPreview {
  width: 550px;
  height: 325px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e8e8e8;
  padding: 10px;
  margin: 0 auto 30px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.postTitle {
    position: absolute;
    top: 284px; 
    left: 10px; 
    width: 100%; 
}

.postDate {
    position: absolute;
    top: 0px; 
    left: 10px; 
    width: 100%; 
}

h3 span {
    color: white; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

h6 span {
    color: white; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

#name{
    margin: 10px 0 0 0;
    color: #4a4a4a;
}

#bio{
    margin: 7px 0 10px 0;
    color: #757575;

}

.topBar {
    position: 'absolute';
    top: 0;
    flex: 1;
    align-self: 'stretch';
    right: 0;
    left: 0;
    background-color: '#4a90e2';
    color: 'white';
    font-family: 'helvetica';
    padding: '10px';
    font-size: '36px'
}

#posts {
    display: block;
    white-space: pre-line;
}

.sidebar {
    float: left;
    position: fixed;
    width: 200px;
}

#app {
    padding: 20px;
    display: block;
}

#subscribe {
  width: 200px;
  height: 30px;
  border-radius: 1px;
  background-color: #4a90e2;
  color: white;
}

#email {
  width: 196px;
  height: 30px;
  border-radius: 1px;
  border: solid 1px #d5d5d5;
  margin-bottom: 5px;
}

.noPadding {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

#edit{
    float: left;
    width: 38%;
}

#preview{
    float: right;
    width: 60%;
}