node_modules
*.log
.DS_Store

# poi dist
dist

# Virtualenv related
bin/
include/
pip-selfcheck.json


# Environments
.env
.venv
env/
venv/
ENV/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class